html,
body {
  z-index: 0;
}

.Polaris-IndexTable__TableCell {
  position: relative;
}

.Polaris-Tabs__TabContainer:hover {
  border-bottom: 2px rgb(137, 137, 137) solid;
}

.Polaris-Tabs__TabContainer button {
  border-radius: 0%;
}

.Polaris-Tabs__TabContainer {
  border-bottom: 2px #f1f1f1 solid;
}

.header-table-button button {
  margin: 0.2rem;
}

.header-table-button span {
  font-weight: 700;
}

.button-number {
  margin-left: 5px;
  color: rgb(98, 0, 20);
}

.import-review-table thead {
  background-color: aqua;
}

.import-review-button button {
  color: rgb(255, 255, 255);
  background-color: black;
  width: 120px;
}

.import-page-title-overview {
  margin-bottom: 10px;
  border-bottom: 1px solid #636363;
}

/* <!-- HTML !--> */
/* <button class="button-50" role="button">Button 50</button> */

/* CSS */
.select-source-button button {
  appearance: button;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #777777;
  border-radius: 4px;
  box-shadow:
    #000000 4px 4px 0 0,
    #ffffff 4px 4px 0 1px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 5px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 8px 20px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 5rem;
}

.select-source-button button:focus {
  text-decoration: none;
}

.select-source-button button:hover {
  text-decoration: none;
}

.select-source-button button:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.select-source-button button:not([disabled]):active {
  box-shadow:
    #fff 2px 2px 0 0,
    #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.amazon-source-component button {
  border-radius: 0%;
}

.import-link-button button {
  background-color: #000000;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    system-ui,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 15px;
  font-weight: 1000;
  justify-content: center;
  line-height: 1.75rem;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 200px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.import-link-button button:focus {
  outline: 0;
}

.import-link-button button:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.import-link-button button:hover:after {
  bottom: 2px;
  left: 2px;
}

.import-page {
  z-index: 0;
}

.popup-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .select-source-button button {
    padding: 12px 50px;
  }
}
